.debtMain{
	padding:16px;
}
.debtList .listName{
	color:#A8B0D5;
	font-size:15px;
	margin-left:12px;
	width:62px;
	display:inline-block;
	flex-shrink:0;
	-webkit-flex-shrink:0;
}
.debtList li{
	margin-bottom:12px;
}
.debtList li div.disBox,.debtList li .debtPic{
	height:45px;
	border-radius:4px;
	background-color:#3D4375;
	box-shadow:0 0 10px rgba(0,0,0,0.2);
	-webkit-box-shadow:0 0 10px rgba(0,0,0,0.2);
}
.debtList li .debtPic{height:auto;}
.debtList li div.disBox input[type="text"],.debtList li div.disBox input[type="number"]{
	height:45px;
	padding:0 12px;
	color:#7380AD;
	font-size:15px;
	width:0;
}
.debtList li div.disBox input::-webkit-input-placeholder{
	color:#7380AD;
}
.debtList li div.disBox input::-moz-placeholder{   /* Mozilla Firefox 19+ */
	color:#7380AD;
}
.debtList li div.disBox input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
	color:#7380AD;
}
.debtList li div.disBox input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
	color:#7380AD;
}
.debtPic{
	text-align:center;
	padding:32px 0 25px;
}
.debtPic .debt_icon{
	width:123px;
	height:123px;
}
.debtPic p{
	color:#7A83B4;
	font-size:14px;
	padding-top:25px;
}
.applyBtn{
	display:block;
	width:100%;
	height:52px;
	line-height:52px;
	text-align:center;
	color:#fff;
	font-size:15px;
	border-radius:4px;
	margin-top:32px;
	background:linear-gradient(to bottom,#52DDFB,#39BFFC);
	background:-moz-linear-gradient( top,#52DDFB,#39BFFC);
	background:-webkit-linear-gradient( top,#52DDFB,#39BFFC);
	background:-webkit-gradient(linear,center top,center bottom,from(#52DDFB),to(#39BFFC));
	background:-o-linear-gradient( top,#52DDFB,#39BFFC);
}


/**
*收款方式
**/
.collectCode{
	color:#A9ACDF;
	font-size:14px;
	padding-bottom:12px;
}
.getCode{
	width:82px;
	color:#32C0F6;
	font-size:15px;
	flex-shrink:0;
	-webkit-flex-shrink:0;
	display:inline-block;
	margin-right:10px;
	text-align:center;
}


/*实名认证*/
.certificateMain{
	background-color:#3D4375;
	padding:0 10px 20px;
	margin:0 -16px;
}
.certificateMain p{
	color:#B2B9E5;
	font-size:15px;
	text-align:center;
	padding:10px 0 18px;
}
.upLoadIdCard li{
	width:50%;
	padding:0 10px;
	float:left;
}
.upLoadIdCard li img{
	width:100%;
	height:42vw;
}